robotframework
robotframework-seleniumlibrary
selenium
robotframework-faker==5.0.0
robotframework-pabot
robotframework-robocop
robotframework-debug
webdriver-manager
pytz~=2024.1
requests
openpyxl
setuptools
toml